<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_login }}" method="post">
        <p>Email</p>
        {{ form.email }}
        <p>Password</p>
        {{ form.password }}
        {{ form.hidden_tag() }}
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
    {% for message in get_flashed_messages() %}
    <div class=" alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;
    </button> {{ message }}
    </div>
    {% endfor %}
    <br>
    <a href='register'>Register</a>
</body>
</html>
